@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600&subset=latin,latin-ext);

@import url(http://fonts.googleapis.com/css?family=Headland+One&subset=latin,latin-ext);


* { margin:0; padding:0; text-indent:0; border:0; }

a { text-decoration: none; color: #1a1a1a;}

a:hover,span:hover {
        transition: all 0.1s;
        -webkit-transition: all 0.1s;
        -moz-transition: all 0.1s;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #1a1a1a;
}

html, body { font-family: 'Open Sans', sans-serif; }

/********** clearfix ************/

.group:before, .group:after { content: ""; display: table; }
.group:after { clear:both; }
.group { zoom: 1; /* For IE 6/7 (trigger hasLayout) */ }

/********** clearfix end ************/

/********** header ************/

#header { background-color: #03406A; }

#header #logo { display:block; }

img#logo-bak {
	display:block;
	float: left;
	position:relative;
	zoom: 1;
	width: 80px;
	height: 80px;
	top: 20px;
	left: 20px;
	border:1px solid white;
}

#header #logo h1 {
	font-size: 60px;
	color: #fff;
	padding-left:150px;
}

#header #navi-top { }

#header #navi-top ul {
	list-style:none;
	background-color: #1a1a1a;
	height:4ex;
	border-bottom: 2ex solid #BF8130;
	text-transform: uppercase;
        padding-left:150px;
}

#header #navi-top ul li {
	padding-top:.5ex;
	list-style-type: none;
	display:block;
	margin-right:30px;
	float:left;
}
#header #navi-top ul li a {
	color: #fff;
        border-bottom: 2ex solid #BF8130;
	padding-bottom:9px;
}

#header #navi-top ul li a:hover, #header #navi-top ul li a#active {
	border-bottom: 2ex solid #1a1a1a;
}

/********** end header ************/

#wrapper {
	background-color: #03406A;
	min-width: 900px;
}

#kontent {
	border-top: 3ex solid #FFAC40;
        background-color: #fff;
}

/********** jedna-afera ************/

.jedna-afera-wrapper { width:100%; }
.jedna-afera {
        width: 50%; margin: 0 auto;
        background-color: #fff;
	margin-bottom: 40px;
	border-bottom: 10px solid #65A5D1;
}

#jedna-afera {
	background: #fff url(https://dl.dropbox.com/u/90555826/korupcja/timeline.png) repeat-y center top;
	min-width:1000px;
	max-width:1500px;
}

#jedna-afera #j-a-nazwa h2 { margin: 0 auto; width: 50%; }
#jedna-afera #j-a-inne { background-color: #eee; }
#jedna-afera #j-a-inne h3 { margin: 0 auto; width: 50%; }
#jedna-afera #j-a-opis { background-color: #ccc;}
#jedna-afera #j-a-opis p { margin: 0 auto; width: 50%; }
#jedna-afera #j-a-kontekst { background-color: #eee; }
#jedna-afera #j-a-kontekst p { margin: 0 auto; width: 50%; }

#jedna-afera h2, .jedna-afera h2 {
        padding: 7px 40px;
	font-size: 30px;
	text-transform:uppercase;
	background-color: #A65E00;
	line-height:2ex;
}

#jedna-afera h3, .jedna-afera h3 {
        padding: 4px 40px;
	font-size: 17px;
	background-color: #BF8130;
	border-bottom: 10px solid #FF9000;
}

.jedna-afera .wydarzen a {
	display: block;
	float: right;
	margin-right:20px;
	margin-left:70%;
        text-transform: uppercase;
	padding:5px 20px;
        text-align: right;
        font-size: small;
        color: #000;
        background-color: #FF9000;
        border-bottom-left-radius: 1em;
        border-bottom-right-radius: 1em;
}

.jedna-afera .wydarzen a:hover { }

#jedna-afera p#opis {
        padding: 40px;
	background-color: #FFC273 ;
}

.jedna-afera p.opis {
        padding: 40px;
        background-color: #fff;
}

.jedna-afera a.more {
	display:block;
	text-align: center;
        font-size: small;
        margin: 0 20px;
	margin-left: 75%;
        background-color: #65A5D1;
        padding: 3px 10px;
	text-transform:uppercase;
	color: #fff;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
}

.jedna-afera a.more:hover { background-color: #3E94D1; }

#jedna-afera p#kontekst {
	font-size: small;
        padding: 20px 40px;
	background-color: #FFAC40;
	border-bottom: 10px solid #A65E00;
}

#jedna-afera .wydarzen {
	margin: 0 auto;
	text-align: center;
	font-size: small;
	text-transform: uppercase;
	width:20%;
	color: #fff;
        background-color: #A65E00;
	padding-bottom:5px;
	margin-bottom: 40px;
        border-bottom-left-radius: 1em;
        border-bottom-right-radius: 1em;
}

#jedna-afera #ujawnienie, #jedna-afera .wydarzenie {
	margin: 0 auto; width: 50%; }

#jedna-afera .glowka {
        background-color: #A65E00;
	padding-left: 10px;
	padding-right: 10px;
}

#jedna-afera h4 {
	margin: 0 auto;
	text-align: center;
	font-size: small;
	width:40%;
	color: #fff;
        background-color: #03406A;
	padding: 5px 5px;
	line-height: 1em;
}

#jedna-afera .wydarzenie .ramka {
	padding: 10px 20px 0px 20px;
	margin-bottom: 40px;
        background-color: #FFC273 ;
}

#jedna-afera #ujawnienie .glowka { background-color: #FF9000; }

#jedna-afera #ujawnienie .glowka h4 {
	background-color: #A65E00; text-transform:uppercase;
}

#jedna-afera #ujawnienie .ramka {
        padding: 10px 40px 0px 40px;
        margin-bottom: 40px;
	background-color: #eee;	
}

#jedna-afera #ujawnienie .wydarzenie-tekst {
	padding-bottom: 40px;
}

#jedna-afera div.data {
	color: #1a1a1a;
	margin: 0 auto;
	text-align: center;
	background-color: #FFC273;
	width: 40%;
	padding: 3px 1px;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
}

#jedna-afera h5 {
	font-size: 24px;
	margin-top:20px;
	margin-bottom:20px;
	color: #1a1a1a;
	line-height:2ex;
	width:95%;
}

.jedna-afera .wydarzenie-aktorzy {
	padding:20px;
	background-color:#FFC273;
}

#jedna-afera .wydarzenie-aktorzy, .jedna-afera .wydarzenie-aktorzy {
	font-size: small;
}

#jedna-afera .wydarzenie-aktorzy ul, .jedna-afera .wydarzenie-aktorzy ul {
        text-transform: none;
	list-style-position:inside;
}

#jedna-afera .wydarzenie-aktorzy li, .jedna-afera .wydarzenie-aktorzy li {
	float: left;
	margin-right: 1em;
	font-size: small;
}

#jedna-afera .wydarzenie .ramka .wydarzenie-tekst {
	margin-top:20px;
	padding: 20px;
}

#jedna-afera .more {
	display:block;
	margin: 0 auto;
	text-align:center;
	font-size: small;
        margin-top:20px;
	background-color: #65A5D1;
	padding: 3px 10px;
        text-transform: uppercase;
	width:40%;
	color: #fff;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
}

#jedna-afera .more:hover { background-color: #3E94D1; }

#jedna-afera .pokaz, .jedna-afera .pokaz {
	text-transform: uppercase;
	padding: 0 5px;
	font-size: x-small;
	cursor: pointer;
	margin-top:10px;
}

#jedna-afera .pokaz:hover, .jedna-afera .pokaz:hover {
	background-color: #FFAC40 ;
}

#jedna-afera .wydarzenie { }
#jedna-afera .wydarzenie .glowka { background-color: #FFAC40; }
#jedna-afera .wydarzenie .glowka h4 { background-color: #A65E00; }

#jedna-afera-aktorzy {
	border-top: 10px solid #03406A;
	padding: 0 20px 10px 20px;
	background-color: #65A5D1;
	margin: 0 auto; width: 80%;
}

#jedna-afera-aktorzy h4 {
	padding-top: 0;
	margin-top: 0;
	text-transform:uppercase;
        border-bottom-left-radius: 1em;
        border-bottom-right-radius: 1em;

}

#jedna-afera-aktorzy ul {
	list-style-position: inside;
	font-size: small;
	margin-top:10px;
}

#jedna-afera-aktorzy ul li {
	float: left;
	margin-right: 1em;
}

#jedna-afera-aktorzy ul:after {
        content: "";
        display: table;
        clear:both;
}

/********** end jedna-afera ************/

/********** footer ************/

#footer {
	background-color:black;
	color: white;
	padding: 20px;
	margin-top: 20px;
	font-size: small;
}


/********** end footer ************/

/********** skorowidz ************/

#skorowidz { } 

#skorowidz-table, #afery-nav {
	position:absolute;
	position:fixed;
	left: 20px;
	top: 185px;
	width:176px;
        border-top: 10px solid #03406A;
	padding-top:5px;
}

#skorowidz-table li, #afery-nav li {
	list-style: none;
	float: left;
}

#skorowidz-table li a {
        display: block;
        width:30px;
	height:30px;
	margin: 2px;
	background-color: #65A5D1;
	text-align: center;
}

#afery-nav li {
	width:100%;
	margin-bottom: 5px;
}

#afery-nav li a {
        display: block;
	width: 100%;
	padding-top:3px;
	padding-bottom:3px;
        background-color: #65A5D1;
        text-align: center;
	text-transform:uppercase;
	font-size:small;
	line-height:1.2em;
}

#skorowidz-table li a:hover, #afery-nav li a:hover { 
	background-color: #3E94D1;
}

#kolumna-indeksu {
        width: 50%; margin: 0 auto;
        padding: 0;
}

.jedna-litera { background-color: #fff; }

.jedna-litera h2 {
	background-color: #A65E00;
	padding-left:20px;
        border-bottom: 10px solid #BF8130;
	font-weight:200;
}

.jedna-litera h2 a { color: #fff; }
.jedna-litera h2 a:hover { }

.jedna-litera ul { padding: 20px; }
.jedna-litera li { list-style: none; }
.jedna-litera li a { color: #1a1a1a; }

/********** end skorowidz ************/

/********** jedno-wydarzenie ************/

#jedno-wydarzenie-paczka { display:table; }

#jedno-wydarzenie-nav-lewo, #jedno-wydarzenie-nav-prawo, #jedno-wydarzenie {
	display: table-cell;
}

#jedno-wydarzenie-nav-lewo, #jedno-wydarzenie-nav-prawo { max-width:10em; }

#jedno-wydarzenie h2 {
        color: #fff;
	text-align:center;
        background-color: #A65E00 ;
        border-bottom: 10px solid #BF8130;
	margin-bottom:40px; 
}

#jedno-wydarzenie .ramka {
        background-color: #fff;
        padding-left: 10px;
        padding-right: 10px;
}

#jedno-wydarzenie p.wydarzenie-tekst { padding: 10px 40px 20px 40px; }

#jedno-wydarzenie h3 {
        margin: 0 auto;
        text-align: center;
        font-size: small;
        width:50%;
        color: #fff;
        background-color: #BF8130;
        padding: 5px 5px;
	line-height:1em;
	text-transform:uppercase;
}

#jedno-wydarzenie h5 {
        font-size: 24px;
	padding: 20px 40px 10px 40px;
        color: #1a1a1a;
        line-height:2ex;
}

#jedno-wydarzenie .data {
        color: #1a1a1a;
        margin: 0 auto;
        text-align: center;
        background-color: #fff ;
        width: 50%;
        padding: 3px 0;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
}

#jedno-wydarzenie-nav-lewo, #jedno-wydarzenie-nav-prawo {
	position:fixed;
	top:265px;
	padding: 30px;
	color: #03406A;
	line-height:1.2em;
	font-weight:bold;
}

#jedno-wydarzenie-nav-lewo { text-align:right; right: 75%; }

#jedno-wydarzenie-nav-lewo .data, #jedno-wydarzenie-nav-prawo .data {
	display: block;
	margin-top:10px;
	margin-bottom:10px;
	font-weight: 200;
}

#jedno-wydarzenie-nav-lewo .data a, #jedno-wydarzenie-nav-prawo .data a {
	color: #65A5D1;
}

#jedno-wydarzenie-zrodla {
	border-top: 10px solid #03406A;
	background-color: #65A5D1;
	width: 50%; margin: 0 auto;
}

#jedno-wydarzenie-zrodla h4 {
	padding-top: 0;
	margin: 0 auto;
	margin-top:0;
        text-align: center;
        font-size: small;
        width:20%;
        color: #fff;
        background-color: #03406A;
        padding: 0 5px 5px 5px;
        margin-bottom: 4px;
	text-transform:uppercase;
        border-bottom-left-radius: 1em;
        border-bottom-right-radius: 1em;
}

#jedno-wydarzenie-zrodla ul {
        list-style-position: inside;
	padding:10px 20px;
}

#jedno-wydarzenie-zrodla ul li {
        float: left;
        margin-right: 1em;
	font-size: small;
}

#jedno-wydarzenie-zrodla ul:after {
        content: "";
        display: table;
        clear:both;
}

#jedno-wydarzenie {
        width: 50%; margin: 0 auto;
	background-color: #eee;
	padding-bottom:10px;
}

/********** end jedno-wydarzenie ************/

/********** jeden-aktor ************/
#jeden-aktor { margin: 0 auto; width:50%; }

#jeden-aktor h2 {
	color: #fff;
        background-color: #A65E00;
	padding: 5px 10px 5px 20px;
        border-bottom: 10px solid #FF9000 ;
	text-transform:uppercase;
	font-weight:200;
	line-height:1em;
}

#jeden-aktor h3 {
        padding: 5px 0 5px 20px;
	background-color: #BF8130;
	text-transform: uppercase;
}

#jeden-aktor ul {
        background-color: #fff;
	padding: 5px 10px;
	list-style: none;
	margin-bottom:10px;
}

#jeden-aktor ul li {
	font-size: small;
        text-transform: uppercase;
	line-height: 2em;
	margin-bottom:10px;
}

#jeden-aktor ul li span { 
	display: inline-block;
	width: 10em;
        text-transform: none;
}

#jeden-aktor ul li a {
        text-transform: uppercase;
	font-size: medium;
}

#jeden-aktor ul li a:hover { }

#jeden-aktor ul li ul { border-bottom: 1px solid #eee; }

/********** end jeden-aktor ************/

/* jedynka */

div#jedynka-kolumna{ display: table; width: 50%; }
div.wiersz { display: table-row; }
div.wiersz-dlugi, div.wiersz-krotki, div#kolumna-obrazek {
	display: table-cell;
}
div.wiersz-niski { display: table-row; }

div.zajawka {
	display: table-cell;
	padding:0.2ex;
	width: 10em;
	height:15em;
	background: #fff;
	margin: 2ex;
}
