{% extends "body.html" %}{% block content %}{% if intro %}
        <div id="wprowadzenie">
          <p>Jesteś na stronie, dzięki której poznasz historię
          najgłośniejszych polskich afer korupcyjnych.</p>
          <p>Chcesz dowiedzieć się, na czym polegała afera ART-B? Znajdź ją na
          liście afer, a zobaczysz jej krótki opis, najważniejszych aktorów
          (oskarżonych, oskarżycieli, zamieszane partie polityczne czy sądy)
          a także szczegółowe kalendarium wydarzeń, takich jak ujawnienie
          afery, aresztowania czy wyroki sądowe w sprawie. Jeśli w wyniku
          afery wprowadzono reformy, też się o tym dowiesz.</p>
          <p>Interesuje Cię konkretna osoba? Wejdź w zakładkę <a href="{% url page_actors_human %}">„Aktorzy”</a> - zobaczysz tam alfabetyczną listę nazwisk, a o
          wybranej osobie dowiesz się, w jakiej aferze była oskarżonym, a w
          jakiej oskarżycielem czy reformatorem.</p>
          <p>Chcesz wiedzieć więcej o aferach związanych z konkretną partią
          polityczną albo aferach, które kontrolowała NIK, czy ujawniła
          Gazeta Wyborcza? Wejdź w zakładkę <a href="{% url page_actors_organizational %}">„Instytucje”</a>
          - znajdziesz tam spis instytucji podzielonych na 10 grup, takich
          jak <a href="{% url page_actors_organizational %}#skorowidz-Partie%20polityczne">„Partie
          polityczne”</a>, <a href="{% url page_actors_organizational %}#skorowidz-Instytucje%20kontrolne">„Instytucje
          kontrolne”</a> czy <a href="{% url page_actors_organizational %}#skorowidz-Media">„Media”</a>.</p>
        </div>{% endif %}
	<div id="typysfery">
        <ul id="afery-nav">
          <li>Wybierz typ afery:</li>{% for t in types %} 
          <li><a href="{% url afera.views.cases object_id=t.0 %}">{% for phrase in t.1 %}{{ phrase }}{% if not forloop.last %} / {% endif %}{% endfor %}</a></li>{% endfor %}
        </ul>
        <ul id="afery-nav">
          <li>Wybierz sferę dotkniętą korupcją:</li>{% for f in fields %} 
          <li><a href="{% url afera.views.cases object_id=f.0 %}">{% for phrase in f.1 %}{{ phrase }}{% if not forloop.last %} / {% endif %}{% endfor %}</a></li>{% endfor %}
        </ul>
	</div>
	<div id="male-afery">
        <div id="przycisk" style="display: none"><button type="button" id="hide" value="Szczegóły">Szczegóły</button></div>{% for case in cases %} 
        <div class="jedna-afera-wrapper">
          <div class="jedna-afera">
            <h2><a href="{% url single_case object_id=case.id %}">{{ case.title.0 }}</a></h2>
            <h3>{% for n in case.title|slice:"1:" %}{{ n }}{% if not forloop.last %}, {% endif %}{% endfor %}</h3>
            <p class="wydarzen"><a href="{% url afera.views.case object_id=case.id %}">wydarzen: {{ case.num_events }}</a></p>
            <div class="wydarzenie-aktorzy" id="wydarzenie-aktorzy-{{ case.id }}">{% include "aktorzy.inc" %}
            </div>
            <p class="opis">{% if case.description %}{{ case.description|truncatewords_html:50 }}{% else %}[ opis afery ]{% endif %}</p>
          </div><!-- koniec jedna-afera -->
            <a href="{% url afera.views.case object_id=case.id %}" class="more">wiecej</a>
        </div><!-- koniec jedna-afera-wrapper -->{% endfor %}
	</div><!--koniec "male-afery -->
{% endblock content %}
