{% extends "body.html" %}{% block content %}
        <div id="jedna-afera">
	  <h2>{{ name }}</h2>
	  <h3>{% for n in names %}{{ n }}{% if not forloop.last %}, {% endif %}{% endfor %}</h3>
	  <p id="opis">{{ description }}</p>
          <p id="kontekst"> kontekst afery </p>
          <div class="wydarzen">wydarzen: {{ num_events }}</div>
          <div id="ujawnienie">
              <div class="data">{{ event_leak.0.1 }}</div>
              <div class="glowka">
                  <h4>Ujawnienie afery</h4>
              </div>
              <div class="ramka">
                  <h5>tytul wydarzenia tytul wydarzenia tytul wydarzenia tytul wydarzenia tytul wydarzenia tytul wydarzenia </h5>
                  <div class="wydarzenie-aktorzy">Aktorzy wydarzenia:
                      <ul>{% for actor in event_leak.1 %}
                          <li>{{ actor.0 }}</li>{% endfor %}            
                      </ul> 
                      <span class="pokaz">{% if event_leak.2 > 5 %}pokaż wszystkich ({{ event_leak.2 }}){% else %} {% endif %}</span>
                  </div><!-- koniec wydarzenie-aktorzy -->
                  <p class="wydarzenie-tekst">{{ event_leak.0.2 }}</p>
                  <p class="more"><a href="">czytaj wiecej</a></p>
              </div><!-- koniec ramka -->
          </div><!-- koniec ujawnienie -->{% for event in events %}
          <div class="wydarzenie">
              <div class="data">{{ event.0.1 }}</div>
              <div class="glowka">
              <h4>Tytul (wszczecie itp)</h4>
              </div>
              <div class="ramka">
              <h5>tytul wydarzenia</h5>
              <div class="wydarzenie-aktorzy">Aktorzy wydarzenia:
                <ul>{% for actor in event.1 %}<li>{{ actor.0 }}</li>{% endfor %}</ul>
                <span class="pokaz">{% if event.2 > 5 %}pokaz wszystkich ({{ event.2 }}){% else %} {% endif %}</span>
              </div><!-- koniec wydarzenie-aktorzy -->
              <p class="wydarzenie-tekst">{{ event.0.2 }}</p>
              <p class="more"><a href="">czytaj wiecej</a></p>
              </div><!-- koniec ramka -->
          </div><!-- koniec wydarzenie -->{% endfor %}
          <div id="jedna-afera-aktorzy">
            <h4>Wszyscy aktorzy  afery</h4>
            <ul>
	      <li>aktor1</li>
	      <li>aktor2</li>
	    </ul>
	  </div><!-- koniec jedna-afera-aktorzy -->
	</div><!-- koniec jedna-afera -->
{% endblock content %}
