{% extends "body.html" %}{% block content %}
        <div id="jedna-afera">
	  <h2>glowna nazwa</h2>
	  <h3>reszta nazw</h3>
	  <p id="opis"> opis afery </p>
          <p id="kontekst"> kontekst afery </p>
          <div class="wydarzen">wydarzen: 000</div>

          <div id="ujawnienie">
              <div class="data">20.07.2000</div>
              <div class="glowka">
              <h4>Ujawnienie afery</h4>
              </div>
              <div class="ramka">
              <h5>tytul wydarzenia tytul wydarzenia tytul wydarzenia tytul wydarzenia tytul wydarzenia tytul wydarzenia </h5>
              <div class="wydarzenie-aktorzy">Aktorzy wydarzenia:
                <ul><li>imie nazwisko</li><li>imie nazwisko</li></ul> <span class="pokaz">pokaz wszystkich (00)</span>
              </div><!-- koniec wydarzenie-aktorzy -->
              <p class="wydarzenie-tekst">tekst ujawnienia lorem ipsum</p>
              <p class="more"><a href="">czytaj wiecej</a></p>
              </div><!-- koniec ramka -->
          </div><!-- koniec ujawnienie -->

          <div class="wydarzenie">
              <div class="data">20.07.2000</div>
              <div class="glowka">
              <h4>Tytul (wszczecie itp)</h4>
              </div>
              <div class="ramka">
              <h5>tytul wydarzenia</h5>
              <div class="wydarzenie-aktorzy">Aktorzy wydarzenia:
                <ul><li>imie nazwisko</li></ul> <span class="pokaz">pokaz wszystkich (00)</span>
              </div><!-- koniec wydarzenie-aktorzy -->
              <p class="wydarzenie-tekst">tekst wydarzenia lorem ipsum</p>
              <p class="more"><a href="">czytaj wiecej</a></p>
              </div><!-- koniec ramka -->
          </div><!-- koniec wydarzenie -->
	
          <div id="jedna-afera-aktorzy">
            <h4>Wszyscy aktorzy  afery</h4>
            <ul>
	      <li>aktor1</li>
	      <li>aktor2</li>
	    </ul>
	  </div><!-- koniec jedna-afera-aktorzy -->
	</div><!-- koniec jedna-afera -->
{% endblock content %}
