{% extends "body.html" %}{% block content %}
        <div id="wprowadzenie">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
        </div>
        <ul id="afery-nav">
          <li>Wybierz typ afery:</li>{% for t in types %} 
          <li><a href="{% url afera.views.cases object_id=t.0 %}">{% for phrase in t.1 %}{{ phrase }}{% if not forloop.last %} /{% endif %}{% endfor %}</a></li>{% endfor %}
        </ul>
        <ul id="afery-nav">
          <li>Wybierz sferę dotkniętą korupcją:</li>{% for f in fields %} 
          <li><a href="{% url afera.views.cases object_id=f.0 %}">{% for phrase in f.1 %}{{ phrase }}{% if not forloop.last %} /{% endif %}{% endfor %}</a></li>{% endfor %}
        </ul>
        <div id="przycisk"><button type="button" id="hide" value="Szczegóły">Szczegóły</button></div>{% for case in cases %} 
        <div class="jedna-afera-wrapper">
          <div class="jedna-afera">
            <h2><a href="{% url afera.views.case object_id=case.id %}">{{ case.title.0 }}</a></h2>
            <h3>{% for n in case.title|slice:"1:" %}{{ n }}{% if not forloop.last %}, {% endif %}{% endfor %}</h3>
            <p class="wydarzen"><a href="{% url afera.views.case object_id=case.id %}">wydarzen: {{ case.num_events }}</a></p>
            <div class="wydarzenie-aktorzy" id="wydarzenie-aktorzy-{{ case.id }}">{% include "aktorzy.inc" %}
            </div>
            <p class="opis">{% if case.description %}{{ case.description|truncatewords_html:50 }}{% else %}[ opis afery ]{% endif %}</p>
            <a href="{% url afera.views.case object_id=case.id %}" class="more">wiecej</a>
          </div><!-- koniec jedna-afera -->
        </div><!-- koniec jedna-afera-wrapper -->{% endfor %}{% endblock content %}{% if not hide %}
        <script>$('.wydarzenie-aktorzy,.opis,.wydarzen,h2').hide()</script>{% endif %}
