{% extends "body.html" %}{% block content %}
        <div id="jeden-aktor">
	  <h2>{{ actor.1 }}</h2>{% for role in roles %}
          <h3>{{ role.0 }}</h3>
          <ul>
            <li>{% for case in role.1 %}
              <ul>
                <li><span>w zwiazku z:</span> <a href="{% url afera.views.case  object_id=case.0.1 %}">{{ case.0.0 }}</a></li>
                <li><span>pelniona funkcja:</span>{% for fun in case.1 %}{{ fun }}{% if not forloop.last %}, {% endif %}{% endfor %}
                </li>
              </ul>{% endfor %}
            </li>{% endfor %}
          </ul>
        </div>{% endblock content %}
