{% extends "body.html" %}{% block content %}
        <div id="jeden-aktor">
	  <h2>{{ actor.1 }}</h2>{% for role in roles %}{% for case in role.1 %}
          <h3>{{ role.0 }}</h3>
          <ul>
                <li><span>w związku z:</span> <a href="{% url afera.views.case  object_id=case.0.1 %}">{{ case.0.0 }}</a></li>{% if human %}
                <li><span>pełniona funkcja:</span>{% for fun in case.1 %}{{ fun }}{% if not forloop.last %}, {% endif %}{% endfor %}
                </li>{% endif %}
          </ul>{% endfor %}{% endfor %}{% if not human %}
          <h4>Aktorzy powiązani</h4>
          <ul id="powiazani" class="group">{% for r in related %}
            <li><a href="{% url aktor.views.actor object_id=r.0 %}">{{ r.1 }}</a></li>{% endfor %}
          </ul>{% endif %}
        </div>{% endblock content %}
