{% extends "xhtml.html" %}{% block body %}
    <div id="wrapper" class="group">
      <div id="header" class="group">
        <div id="logo">
          <a href="{% url page_main %}"><img id="logo-bak" src=""/>
          <h1>Afery polskie. <span>Historia</span></h1></a>
        </div><!-- koniec logo -->
        <div id="navi-top">
          <ul>
            <li><a {% if tab == 1 %}id="active" {% endif %}href="{% url afera.views.cases %}">afery</a></li>
            <li><a {% if tab == 2 %}id="active" {% endif %}href="{% url page_actors_human %}">aktorzy</a></li>
            <li><a {% if tab == 3 %}id="active" {% endif %}href="{% url page_actors_organizational %}">instytucje</a></li>
            <li><a {% if tab == 4 %}id="active" {% endif %}href="{% url page_about %}">o stronie</a></li>
            <li><a {% if tab == 5 %}id="active" {% endif %}href="{% url page_contact %}">kontakt</a></li>
          </ul>
        </div><!-- koniec navi-top -->
      </div><!-- koniec header -->
      <div id="kontent" class="group">{% block content %}{% endblock content %}
      </div><!-- koniec kontent -->      
	<div class="push"></div>
    </div><!-- koniec wrapper -->
      <div id="footer" class="group">
        <img src="/static/image/ceetrust.png">
	<p>Projekt jest finansowany w ramach grantu
	Trust for Civil Society in Central and Eastern Europe.</p>
        <p>Project developed with the financial support of the Prevention of and Fight against Crime Programme European Commission – Directorate-General Home Affairs. This publication reflects the views only of the author, and the Commission cannot be held responsible for any use which may be made of the information contained therein.</p>
        <img src="https://dl.dropboxusercontent.com/u/90555826/korupcja/flagaue.png">
      </div><!-- koniec footer -->{% endblock body %}
