{% extends "body.html" %}{% block content %}
        <div id="jedynka-kolumna">
          <div id="temat-glowny">
            <h1>Wypisy medialne z historii polskich afer</h1>
            <h2>podtytuł</h2>
            <img src="" id="jedynka-obrazek" />
          </div><!-- koniec main topic -->
          <div class="wiersz"><!-- row -->
            <div class="wiersz-dlugi">
              <div class="wiersz-niski">
                <div class="zajawka-even">lorem</div>
                <div class="zajawka-odd">ipsum</div>
              </div>
              <div class="wiersz-niski">
                <div class="zajawka-odd">dolor</div>
                <div class="zajawka-even"></div>
              </div>
            </div>
            <div id="kolumna-obrazek">
              <img src="" id="pionowy-obrazek" />
            </div>
            <div class="wiersz-krotki">
              <div class="wiersz-niski">
                <div class="zajawka-even">si</div>
              </div>
              <div class="wiersz-niski">
                <div class="zajawka-odd">amet</div>
              </div>
            </div>
          </div>
        </div>{% endblock content %}
