{% extends "body.html" %}{% block content %}
	<div id="jedno-wydarzenie-paczka">
	<div id="jedno-wydarzenie-nav-lewo" style="visibility: {% if prev %}visible{% else %}hidden{% endif %};">
	poprzednie:
	<span class="data">{% if prev %}<a href="{% url afera.views.event object_id=prev.0 %}">{{ prev.1|date:"Y-m-d" }}</a>{% endif %}</span>{% if prev.2 %}
	{{ prev.2 }}{% else %}[ tytuł wydarzenia ]{% endif %}
	</div>

          <div id="jedno-wydarzenie">
              <h2>{% if scandal_title %}{{ scandal_title }}{% else %}[ nazwa afery ]{% endif %}</h2>
            <div class="data">{{ event.1|date:"Y-m-d" }}</div>

            <div class="ramka">
              <h3>{% if event.4 %}{{ event.4 }}{% else %}[ kategoria wydarzenia ]{% endif %}</h3>
            </div><!-- koniec ramka -->
		<h5>{% if event.6 %}{{ event.6 }}{% else %}[ tytul wydarzena]{% endif %}</h5>{% for para in event.2 %}{% if para %}
              <p class="wydarzenie-tekst">{{ para }}</p>{% endif %}{% endfor %}

          </div><!-- koniec jedno-wydarzenie -->
	<div id="jedno-wydarzenie-nav-prawo" style="visibility: {% if next %}visible{% else %}hidden{% endif %};">
	nastepne:
	<span class="data">{% if next %}<a href="{% url afera.views.event object_id=next.0 %}">{{ next.1|date:"Y-m-d" }}</a>{% endif %}</span>{% if next %}{% if next.2 %}
        {{ next.2 }}{% else %}[ tytuł wydarzenia ]{% endif %}{% endif %}
	</div>
	</div><!-- koniec jedno-wydarzenie-paczka -->{% if refs %}
          <div id="jedno-wydarzenie-zrodla">
            <h4>Żródła</h4>
            <ul>{% for ref in refs %}
              <li>{{ ref.2 }} {{ ref.4 }}: &bdquo;{{ ref.1 }}&rdquo;</li>{% endfor %}
            </ul>
          </div><!-- koniec jedno-wydarzenie-zrodla -->{% endif %}
{% endblock content %}
